@import "tailwindcss";


/* fonts */
@font-face {
    font-family: inter;
    src: url(fonts/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: intermed;
    src: url(fonts/Inter/Inter_18pt-Medium.ttf);
}
@font-face {
    font-family: geistmed;
    src: url(fonts/Geist_Mono/GeistMono-Medium.ttf);
}

@font-face {
    font-family: geist;
    src: url(fonts/Geist_Mono/GeistMono-Regular.ttf);
}

@custom-variant dark (&:where(.dark, .dark *));

/* colors */
@custom-variant yellow (&:where(.yellow, .yellow *));
@custom-variant sky (&:where(.sky, .sky *));
@custom-variant pink (&:where(.pink, .pink *));
@custom-variant green (&:where(.green, .green *));
@custom-variant red (&:where(.red, .red *));
@custom-variant indigo (&:where(.indigo, .indigo *));
@custom-variant neutral (&:where(.neutral, .neutral *));
@custom-variant purple (&:where(.purple, .purple *));
@custom-variant teal (&:where(.teal, .teal *));
@custom-variant orange (&:where(.orange, .orange *));
@custom-variant sunlight (&:where(.sunlight, .sunlight *));
@custom-variant custom (&:where(.custom, .custom *));


/* filters */
@custom-variant retro (&:where(.retro, .retro *));
@custom-variant sunny (&:where(.sunny, .sunny *));
@custom-variant bw (&:where(.bw, .bw *));
@custom-variant tealOrange (&:where(.tealOrange, .tealOrange *));
@custom-variant bright (&:where(.bright, .bright *));
@custom-variant cinematic (&:where(.cinematic, .cinematic *));







